name: Prefetch MoonBit
on:
  schedule:
    - cron: '0 2 * * *' # *-*-* 02:00:00 UTC

  workflow_dispatch:

permissions:
  contents: write

jobs:
  prefetch-moonbit:
    name: Prefetch MoonBit
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Nix
      uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixpkgs-unstable

    - name: Prefetch latest MoonBit
      id: fetch_toolchains
      timeout-minutes: 5
      run: ./scripts/fetch_toolchains.sh

    - name: Check and commit changes (versions)
      id: commit_version
      if: steps.fetch_toolchains.outputs.skipped != 'true'
      continue-on-error: true
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add versions
        git commit -m "versions: update"


    - name: Push version changes
      if: steps.commit_version.outcome == 'success'
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Check if tag exists
      id: check_tag
      run: |
        TAG="${{ steps.fetch_toolchains.outputs.version }}"
        if git fetch --tags && git tag | grep -q "^$TAG$"; then
          echo "exists=true" >> $GITHUB_OUTPUT
        else
          echo "exists=false" >> $GITHUB_OUTPUT
        fi
    - name: Release new version
      if: steps.commit_version.outcome == 'success' && steps.check_tag.outputs.exists == 'false'
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ steps.fetch_toolchains.outputs.version }}
        body: "New version ${{ steps.fetch_toolchains.outputs.version }} fetched from MoonBit."
        artifacts: "moonbit-linux-x86_64.tar.gz, moonbit-darwin-aarch64.tar.gz, moonbit-core.tar.gz"
